.container {
	font-family: "Poppins", sans-serif;
	background-color: #f0f0f3;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 0 0;
}

.button {
	position: relative;
	font-family: inherit;
	transition: all 0.1s ease-in;
	display: flex;
	gap: 0.2rem;
	cursor: pointer;
	border-radius: 1rem;
	padding: 0.6rem 0.5rem;
	background-color: #3a393b;
	color: #fff;
	border: none;
	align-items: center;
	font-weight: 600;

	justify-content: center;
}

.button:hover {
	color: rgb(207, 207, 207);
}


.button:active {
	transform: translateY(0.2rem);
}

.label {
	cursor: pointer;
}
